/* Configuración de variables de color */
:root {
    --color-primario: #0bf9f9;
    --color-SecOpac: rgba(11, 249, 249, 0.1);
    --color-background: #011230;
    --color-text: #0bf9f9;
}

/* Configuración básica */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Arial', sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column
}

/* Header */
header {
    background-color: var(--color-SecOpac);
    color: var(--color-text);
    padding: 1rem;
    border-bottom: 2px solid var(--color-text);
}

/* Contenedor para logo y texto */
.logo-container {
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Logo */
.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: transparent;
    font-size: 2.5rem;
    color: var(--color-primario);
    text-decoration: none;
    border-radius: 50%;
    border: 2px solid var(--color-primario);
    text-align: center;
    box-shadow: 0px 0px 10px var(--color-primario);
    transition: all 0.3s ease;
}

.logo a:hover {
    background-color: var(--color-SecOpac);
    color: var(--color-background);
    box-shadow: 0px 0px 25px var(--color-primario);
}

/* Texto del logo */
.logo-text {
    margin-left: 1rem;
    font-size: 1.2rem;
    color: var(--color-text);
}

/* Main */
main {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para las columnas */
.row {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
    margin: 1rem 0;
}

.column {
    display: flex;
    /* Las columnas ocuparán el 100% en pantallas pequeñas */
    flex-direction: column;
    /*flex-wrap: wrap;*/
    padding: 1rem;
    border: none;
    background-color: transparent;
    justify-content: space-between;
    align-items: stretch;
}

/* Estilos de textarea */
textarea {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    flex-grow: 1;
    color: #8c9096;
    font-stretch: expanded;
}

* {
    box-sizing: border-box;
}

.col-borde1,
.col-borde2 {
    border: 2px solid var(--color-primario);
    border-radius: 8px;
    background-color: transparent;
    padding: 1rem;
    transition: all 0.3s ease;
}

.col-borde1:hover {
    background-color: var(--color-SecOpac);
}

footer {
    background-color: var(--color-SecOpac);
    color: var(--color-text);
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

/* Estilo de textarea personalizado */
.custom-textarea {
    flex-grow: 1;
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
}

/* Imagen de fondo para la segunda columna */
.background_image {
    background-image: url('/home/roman/Documentos/encriptador_one/romanencriptdor/images/fondo.jpeg');
    /* Aquí puedes poner la URL de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100%;
    /* Asegura que la columna ocupe toda la altura disponible */
}

/* Asegurar que los botones estén dentro de la columna */
.button-container {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

#resultText {
    color: var(--color-SecOpac);
}

.custom-button {
    background-color: transparent;
    text-decoration: none;
    border-radius: 8%;
    border: 2px solid var(--color-primario);
    color: var(--color-primario);
    text-align: center;
    padding: 10px 20px;
    font-size: 0.8em;
}

.custom-button :hover {
    background-color: var(--color-SecOpac);
    color: var(--color-background);
    box-shadow: 0px 0px 25px var(--color-primario);
}


/* Estilos para el modal personalizado */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* Estilos responsivos para las columnas */
@media (min-width: 768px) {
    .row {
        flex-direction: row;
        /* Las columnas se colocarán una al lado de la otra en pantallas grandes */
        justify-content: space-between;
    }

    .column {
        flex: 1 1 48%;
        /* Las columnas ocuparán el 48% del ancho en pantallas grandes */
    }
}